<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
  <test name="Smoke Test" >
    <classes>
      <class name="mavenTestNG.TC_001"/>
      <class name="mavenTestNG.TC_002"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
